{% extends 'base.html.twig' %}

{% block title %}API Übersicht{% endblock %}

{% block body %}
    <h2>Willkommen bei eMatChef</h2>
    <p>Diese Seite zeigt Informationen zur API und deinem Backend-Login.</p>
{% endblock %}