<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}eMatChef{% endblock %}</title>
</head>
<body>
    <header>
        <h1>eMatChef Backend</h1>
    </header>

    <main>
        {% block body %}{% endblock %}
    </main>
</body>
</html>
